body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.container {
    width: 80%;
    max-width: 450px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:3%;
    margin-left: 34%;
}
h1
{
    margin-left: 37%;
    font-size: 30px;
    color: orange;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"], textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}
select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}



